.curved-loop-jacket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 120px;
  margin: 0 auto;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  margin: 0 auto;
  font-size: clamp(3rem, 8vw, 6rem);
  fill: currentColor;
  color: inherit;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.curved-loop-svg text {
  fill: currentColor;
}
